@charset "utf-8";
%bg {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

html,
body {
    margin: 0 !important;
    padding: 0 !important;
    text-align: center;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

body {
    @extend %bg;
    background-image: url(../img/bg.jpg);
    font-family: 'Muli', sans-serif;
    font-size: 14px;
}

.h1,
.h2 {
    color: #fff;
}

.h1 {
    font-size: 220%;
}

.h2 {
    font-size: 200%;
}

.container {
    padding: 0 10px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 1px 1px 10px #222;
    font-size: 180%;
    td,
    th {
        padding: 15px;
        text-transform: uppercase;
    }
    tr {
        border-bottom: 1px solid #888;
    }
    thead {
        background-color: #2b67a5;
        th {
            color: #fff;
        }
    }
    tbody {
        background-color: #fff;
    }
}

.copy {
    color: #fff;
    position: absolute;
    right: 20px;
    bottom: 10px;
}

@media only screen and (max-width: 767px),
(min-device-width: 768px) and (max-device-width: 991px) {
    table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;
    }
    .table {
        margin: 0 0 50px 0;
    }
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    tbody {
        text-align: right;
    }
    tr {
        border: 1px solid #ccc;
        td {
            border: none;
            border-bottom: 1px solid #ccc;
            position: relative;
            padding-left: 50%;
            &:before {
                position: absolute;
                left: 6px;
                width: 45%;
                padding-right: 10px;
                white-space: nowrap;
            }
            &:nth-of-type(1):before {
                content: "Temp (in °C)";
            }
            &:nth-of-type(2):before {
                content: "Min Temp (in °C)";
            }
            &:nth-of-type(3):before {
                content: "Max Temp (in °C)";
            }
            &:nth-of-type(4):before {
                content: "Pressure";
            }
        }
    }
}

@media all and (max-width: 767px) {
    .h1 {
        font-size: 150%;
    }
    .h2 {
        font-size: 130%;
    }
    .table {
        font-size: 150%;
    }
    .copy {
        position: relative;
        text-align: right;
    }
}

@media all and (max-width: 550px) {
    .table {
        font-size: 120%;
    }
}

@media all and (max-width: 400px) {
    .table {
        font-size: 100%;
    }
}

@media all and (min-width: 992px) {
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 1200px;
        margin: auto;
        height: 70%;
    }
}